html {
    position: relative;
    min-height: 50%;
} 

body {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Life Savers', cursive !important;
}
 
nav {
    position: fixed;
    width: 100%;
    background-color: #b0c4de;
    padding: 30px;
    padding: 20px 0px;
    position: fixed;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-text-shadow: 0 0 10px rgba(0, 0, 0, .2);
    -moz-text-shadow: 0 0 10px rgba(0, 0, 0, .2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); 
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); 
}

a {
    color: #4682b4;
    padding-left: 20px;
    font-size: 18px;
}

a:hover {
    text-decoration: none !important;
    font-size: 22px;
}

.thinking {
    padding-top: 60px;
    font-size: 60px;
    text-align: center;
}

.text {
    padding-top: 20px;
    font-size: 50px;
    text-align: center;
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
}

#button {
    padding-top: 30px;
    text-align: center;
}

button {
    padding: 10px 20px 10px 20px;
    background-color: #b0c4de;
    font-size: 22px !important;
}